# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# Mac
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/

# AWS credentials
.aws/

# Terraform
ai-job-analyzer/terraform/.terraform/
ai-job-analyzer/terraform/*.tfstate
ai-job-analyzer/terraform/*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

#bruno
Job Analyser/

#lambda
ai-job-analyzer/src/lambda/package/
ai-job-analyzer/src/lambda/lambda_function.zip