# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# Mac
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/

# AWS credentials
.aws/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
.terraform/
terraform.tfstate
.terraform.lock.hcl

#bruno
Job Analyser/